In [1]:
import pandas as pd
import seaborn as sns 
import numpy as np

In [2]:
df=pd.read_csv("gdp.csv")
df

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  11507 non-null  object
 1   Country Code  11507 non-null  object
 2   Year          11507 non-null  int64
 3   Value         11507 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 359.7+ KB

In [4]:
df["Country Name"].nunique()

256

In [5]:
df["Year"].nunique()

57

In [6]:
df["Year"].max()

2016

In [7]:
df["Year"].min()

1960

In [8]:
India=df[df["Country Name"]=="India"]

In [9]:
India["Year"].max()

2016

In [10]:
India["Year"].min()

1960

In [11]:
df["Country Name"].value_counts()

Country Name
Hong Kong SAR, China      57
Jamaica                   57
Honduras                  57
Caribbean small states    57
Iceland                   57
                          ..
Channel Islands           10
Nauru                     10
South Sudan                8
Somalia                    4
Cayman Islands             2
Name: count, Length: 256, dtype: int64

In [14]:
world=df[df["Country Name"]=="World"]

In [20]:
print(world[world["Year"]==1969])

     Country Name Country Code  Year         Value
2258        World          WLD  1969  2.690798e+12

In [27]:
nxt=India[India["Year"]==1994]

In [29]:
prev=India[India["Year"]==1993]

In [32]:
nxt["Value"],prev["Value"]

(6108    3.229099e+11
 Name: Value, dtype: float64,
 6107    2.755704e+11
 Name: Value, dtype: float64)

In [38]:
print(nxt["Value"]-prev["Value"])

6107   NaN
6108   NaN
Name: Value, dtype: float64

In [39]:
(3.229099e+11 - 2.755704e+11)/2.755704e+11

0.17178731823156623